<!DOCTYPE html>
<html>
<head>
    @Html.Partial("~/Views/Shared/parcial_head.cshtml")
    @RenderSection("styles", false)
</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Html.Partial("~/Views/Shared/parcial_foot.cshtml")
    @RenderSection("Scripts", false)

</body>
</html>
