<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - Cronicall Admin</title>
<link href="@Url.Content("~/Assets/fonts/roboto-font.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Assets/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Assets/css/form-elements.css")" rel="stylesheet" type="text/css" />

<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="assets/ico/favicon.ico" type="image/x-icon">
<link rel="icon" href="assets/ico/favicon.ico" type="image/x-icon">

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
@Scripts.Render("~/bundles/modernizr")

